<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Welcome to DIIVTracker, <%= @user.name %></h1>
    <p>
      You have requested your credentials to be reset.
    </p>
    <p>
      To receive new one please follow this link: <%= link_to 'Send me new credentials!', @url %>.
    </p>
    <p>Thanks for using and have a great day!</p>
  </body>
</html>